#proof7{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 100%;
    z-index: 2;
}

.presentacion7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: black;
    width: 100%;
    z-index: 10;
}

.punteria {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: rgb(51,51,51);
    width: 100%;
    z-index: 10;
    margin-top: 10rem;
}

.punteria h2 {
    color: rgb(27, 226, 37);
    font-size: 4rem;
    font-family: 'Fredoka One';
}

.punteria h4 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.punteria h4 span {
    font-family: 'Fredoka One';
    z-index: 20;
}

.punteria img{
    width: 25rem;
}

#FLECHAS{
    left: -8rem;
    width: 18rem;
    top: 60%;
    position: absolute;
}

#TARGET-1{
    position: absolute;
    right: -4rem;
    width: 15rem;
    top: 80%;
}


