#proof22{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 100%;
    z-index:1;
}

/* .presentacion22 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: black;
    width: 100%;
    z-index: 10;
}

.todosNiveles h2{
    font-size: 3rem;
    font-weight: 900;
}

.todosNiveles h3{
    font-size: 5rem;
    color: orange;
    font-weight: 900;
    font-family: 'Fredoka One';
}



img {
    width: 8rem;
} */
