#proof3a{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 100%;
    /* top: 0%; */
    z-index: 5;
}

.presentacion3a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    text-align: left;
    width: 100%;
    position: relative;
}

.tituleProof3a{
    position: absolute;
    top: 20%;
    left: 5rem;
}

.tituleProof3a h3{
    font-size: 4rem;
    margin: 0;
    margin-top: -1rem;
}

.containerProof3{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    top: 35%;

}

.risk {
    display: flex;
    width: 100%;
    justify-content: center;
}

.riskDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    width: 26%;
    margin-bottom: 1rem;
    height: 12rem;
}

#legal{
  width: 9.5rem;
    
}
#reputacion{
    
}

#contagio{
    width: 9rem;
    margin-top: -1rem;
}

#operativo{
    width:9.3rem;

}

#corrupcion{
    width:8.5rem;
}

#emergente{
    width:8.8rem;
}





