#proof21{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0%;
}

.presentacion21 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: black;
    width: 100%;
    position: relative;
}

.saltoNiveles{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NivelesTituloImg img{
    width: 80rem;
    top: calc(25% - 40rem);
    left: calc(25% - 40rem);
}

.NivelesTitulo{
    text-align: left;
    font-size: 5rem;
}

.Niveles h3{
    font-size: 2.5rem;
    text-align: left;
}

.Niveles{
    position: absolute;
    width: 80rem;
    left: calc(50%-40rem);

}

.Niveles label{
    margin-left: 4rem;

}

.Niveles label{
    color: orange;
    font-size: 2rem;
    font-weight: 900;
}

#todosNivelesID img {
    width: 32rem;
}

@media screen and (max-width: 1400px) {
    .Niveles{
        position: absolute;
        width: 60rem;
    
    }

    .Niveles label{
        margin-left: 1rem;
    }
    
    .NivelesTituloImg img{
        width: 60rem;
 
    }
}



input[type='radio'] {
    -webkit-transform: scale(2);
    margin-right: 1rem;
}



.sombra {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.356);
    z-index: 100;
}

#Nivel1ID{
    position: absolute;
    top: 5rem;
    left: 100%;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
    border-radius: 2rem;
    width: 80%;
    height: 100%;
}

#nivel1Cambiante{
    width: 100%;
    height: 80%;

}
#nivel2Cambiante{
    width: 100%;
    height: 80%;

}
#nivel3Cambiante{
    width: 100%;
    height: 80%;

}
#nivel4Cambiante{
    width: 100%;
    height: 80%;

}
#nivel5Cambiante{
    width: 100%;
    height: 80%;

}

#nivel6Cambiante{
    width: 100%;
    height: 80%;

}

.siguienteNivel{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20%;
}

#Nivel2ID{
    position: absolute;
    top: 5rem;
    left: 100%;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
    border-radius: 2rem;
    width: 80%;
    height: 100%;
}

#Nivel3ID{
    position: absolute;
    top: 5rem;
    left: 100%;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
    border-radius: 2rem;
    width: 80%;
    height: 100%;
}

#Nivel4ID{
    position: absolute;
    top: 5rem;
    left: 100%;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
    border-radius: 2rem;
    width: 80%;
    height: 100%;
}

#Nivel5ID{
    position: absolute;
    top: 5rem;
    left: 100%;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
    border-radius: 2rem;
    width: 80%;
    height: 100%;
}

#Nivel6ID{
    position: absolute;
    top: 5rem;
    left: 100%;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
    border-radius: 2rem;
    width: 80%;
    height: 100%;
}

.Nivel td{
  width: 33%;
  font-size: 1.2rem;
}
.Nivel td span{ 
  font-weight: 900
}

.Nivel td img{ 
    width: 8.5rem;
}

.Nivel h2{
    font-weight: 900;
    font-size: 3rem;
}

.Nivel h4{
    font-weight: 900;
    font-size: 1.7rem;
}

.Nivel h5{
    font-size: 1.5rem;
}

.Nivel #write{ 
    width: 13rem;
}

@media screen and (max-width: 1400px) {
    .Nivel {
        height: 94%;
    }
}


.emergenteSalto{
    animation-name: emergenteSalto;
    animation-duration: 1.5s;
    /* animation-timing-function: cubic-bezier(.8,.17,0,.97); */
    animation-fill-mode: forwards;
}
.emergenteSalto2{
    animation-name: emergenteSalto2;
    animation-duration: 1.6s;
    /* animation-timing-function: cubic-bezier(.8,.17,0,.97); */
    animation-fill-mode: forwards;
}

@keyframes emergenteSalto {
    0%{ left:0%;
        opacity: 1;
    }
    100%{
        left:100%;
        opacity: 0;
    }
}

@keyframes emergenteSalto2 {
    0%{ left:100%;
        opacity: 0;
    }
    100%{
        left: 0%;
        opacity: 1;
    }
}


/* Salto entre niveles */
.nextNivel{
    animation-name: nextNivel;
    animation-duration: 1.25s;
    /* animation-timing-function: cubic-bezier(.8,.17,0,.97); */
    animation-fill-mode: forwards;
}
.nextNivel2{
    animation-name: nextNivel2;
    animation-duration: 2.1s;
    /* animation-timing-function: cubic-bezier(.8,.17,0,.97); */
    animation-fill-mode: forwards;
}

@keyframes nextNivel {
    0%{ left:0%;
    }
    100%{
        left: -200%;
    }
}

@keyframes nextNivel2 {
    0%{ left:100%;
    }
    100%{
        left: 0%;
    }
}

.siguienteNivelbutton{
    padding: 0.2rem 0.8em;
    height: 3rem;
    color: white;
    background-color: rgb(230, 166, 28);
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    margin-left: 0.5rem;
    visibility: hidden;
}

.salirId{
    display:none;
    height: 3rem;
    padding: 0.5rem 1rem;
    color: white;
    background-color: rgb(230, 166, 28);
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    margin-right: -10rem;
}


#todosNivelesID{
    position: absolute;
    background: linear-gradient(27deg, #ffffff 20%, rgba(225,225,225,1) 100%, rgb(194, 194, 194) 100%);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 100%;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.todosNiveles h2{
    font-size: 3rem;
    font-weight: 900;
}

.todosNiveles h3{
    font-size: 5rem;
    color: orange;
    font-weight: 900;
    font-family: 'Fredoka One';
}


