#proof8{
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* top: 100%; */
    top: 100%;
    /* background: linear-gradient(27deg, #ff7b08 20%, rgba(255,123,8,1) 100%, rgb(255,123,1) 100%); */
    background-color:rgb(255,123,8);
    z-index:1;
}

.presentacion8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: black;
    width: 100%;
    z-index: 10;
}

.busca {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: black;
    width: 100%;
    z-index: 10;
}

.sacBusca{
    margin-bottom: 5rem;
}

.sacBusca h2 {
    color: rgb(27, 226, 37);
    font-size: 4rem;
    font-family: 'Fredoka One';
}

.tiroBlanco {
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
}


.tiroBlanco p{
    font-size: 1.2rem;
    padding: 3rem 2rem 0 2rem;
    margin-top: 1rem;
    
}

.tiroBlanco1relative{
    position: relative;
    z-index: 100;
    width: 20rem;
}
.tiroBlanco2relative{
    position: relative;
    z-index: 100;
    width: 20rem;
    margin-left: 1.8rem;

}
.tiroBlanco3relative{
    position: relative;
    z-index: 100;
    width: 20rem;
    height: 35rem;
}

.tiroBlanco1 {
    top: 8.5rem;
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px rgb(168, 168, 168);
    margin-bottom: 0.5rem;
    position: absolute;
}

.tiroBlanco2 {
    top: 8.5rem;
    
    margin-right: 3%;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    box-shadow: 2px 2px 2px rgb(168, 168, 168);
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    position: absolute;
}

.tiroBlanco3 {
    top: 8.5rem;
    margin-left: 3%;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    box-shadow: 2px 2px 2px rgb(168, 168, 168);
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    position: absolute;
}

.tiroBlanco img {
    right:6rem;
    width: 10rem;
    position: absolute;
    z-index: 100;
}
.tiroBlanco2relative img {
    margin-top: 1rem;
}

#target3 {
    cursor: crosshair;
}

#target2 {
    cursor: crosshair;
}

#target1 {
    cursor: crosshair;
}

.disparo{
    animation-name: disparo;
    animation-duration:0.3s;
    /* animation-timing-function: cubic-bezier(.8,.17,0,.97); */
    animation-iteration-count:3;
}

#error1{
    display: none;
}

#error3{
    display: none;
}

@keyframes disparo {  
    0%{ 
        transform: scaleX(1) rotate(-15deg) ;-o-transform: scaleX(1) rotate(-15deg); 
    }
    100% { 
        transform: scaleX(-1) rotate(17deg);  -o-transform: scaleX(-1) rotate(17deg);
    }
  
 }


