#proof24{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 100%;
    z-index:1;
}

.presentacion24 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: black;
    width: 100%;
    z-index: 10;
}

.atencionLogos{
    margin-top: 4rem;
}

.atencionLogosTitulo h2{

    font-size: 3rem;
    font-weight: 900;
    color: green;
}

.atencionLogosTitulo p{
    font-size: 2rem;
}

.atencionLogos{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.atenciontext{
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 70%;
    font-size: 1.2rem;
}

.atenciontext img {
    width: 10rem;
}

.atenciontext div {
    width: 20rem;
}


.atenciontext1{
    position: relative;
    width: 20rem;
    height: 30rem;
}
.atenciontext2{
    position: relative;
}
.atenciontext3{
    position: relative;
}

.atenciontext1 p{
    width: 100%;
    background-color: white;
    padding: 1rem;
    padding-top: 3rem;
    border-radius: 2rem;
    position: absolute;
    top: 7rem;

}

.atenciontext2 p{
    width: 100%;
    background-color: white;
    padding: 1rem;
    padding-top: 3rem;
    border-radius: 2rem;
    position: absolute;
    top: 7rem;

}

.atenciontext3 p{
    width: 100%;
    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
    padding-top: 3rem;
    position: absolute;
    top: 7rem;
}

.atenciontext1 img{
    position: absolute;
    z-index: 24;
    right: 3rem;

}

.atenciontext2 img{
    position: absolute;
    z-index: 24;
    right: 5rem;

}

.atenciontext3 img{
    position: absolute;
    z-index: 24;
    right: 6rem;
}



#Tennis24{
    position: absolute;
    left: -5rem;
    width: 20rem;
    bottom: -10rem;
}

#basket24{
    position: absolute;
    right: -5rem;
    width: 15rem;
    bottom: -5rem;

}

@media screen and (max-width: 1100px) {
    .atenciontext{
        justify-content: space-around;
        width: 100%;
        font-size: 1.2rem;
    }
}




