#proof6{
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* left: 100%; */
    left: 0%;
    top: 0%;
}

.presentacion6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
}

.presentacion6 p{
    font-size: 1.1rem;
}

.tituleProof6{
    position: absolute;
    top: 13%;
    left: 3rem;
}

.tituleProof6 h3{
    font-size: 4.2rem;
    margin-bottom: -0.1rem;
}
.tituleProof6 p{
    font-size: 1.5rem;
}

.containerProof6{
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    top: 30%;
}

.gameHunt{
    width: 25%;
    border-right: 3px solid red;

}
.gameHuntText{
    width: 75%;
    padding-left: 2rem;
}

.gameHuntText p{
    font-size: 1.35rem;
}

.gameHuntTextMove{
    margin-bottom: 1rem;
    width: 100%;
    padding: 0 3rem;
    position: relative;
    min-height: 7rem;
    display: flex;
    align-items: center;
}

.gameHuntTextMoveGray{
    background-color:rgba(255, 255, 255, 0.137);
    position: relative;
    padding-left: 4rem;
    min-height: 7rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.gameHuntMove{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.6rem;
    min-height: 6rem;
}

.gameHuntMove img{
    width: 5rem;
    cursor: crosshair;
    margin-bottom: 0.1rem;
}

.contenedorPieza{
    position: absolute;
    border-style: dashed;
    width: 6rem;
    height: 7rem;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.contenedorPieza1{
    position: absolute;
    border-style: dashed;
    width: 6rem;
    height: 7rem;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
}

#pieza4{
    height: 6rem;
}

.contenedorPieza img{
    width: 5rem;
    
}

.contenedorPiezas{
    min-height: 6rem;
    min-width: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}






