#proof21{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0%;
}

.presentacion21 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: black;
    width: 100%;
    position: relative;
}


